---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Products from '../components/Products.astro';
import News from '../components/News.astro';
import Faq from '../components/Faq.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Products />
    <News />
    <Faq />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
